.App {
  display: flex;
  flex-wrap: wrap;
}

.titleAndContent{
  flex: 3;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  height: 100vh;
  overflow-y: auto;
}

.title{
  height: 64px;
  background: pink;
}
 .content {
   flex: 1;
   background: yellow;
   overflow-y: auto;
}

.about {
  height: 500px;
  background: purple;
}

.education {
  height: 330px;
  background: blue;
}

.experience {
  height: 830px;
  background: black;
}

.more {
  height: 430px;
  background: brown;
}
